# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
*.env

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Static and media files
/static/
/media/

# Local settings
local_settings.py

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/